body {
	background-color: #f4f6f6 ;
}

h1 {
	color: #040506 ;
}


.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}


footer {
	color: black;
	text-align: center;
}